header {
  background-color: rgb(2, 2, 69);
}
a {
  color: aliceblue;
}
a:hover {
  color: orange;
}
section img {
  width: 1500px;
  height: 600px;
}
h4 {
  color: orange;
}
section img {
  width: 25px;
  height: 25px;
}
#photo {
  width: 1200px;
  height: 500px;
}

/* its just for commit */
.card {
  width: 450px;
  height: 450px;
}
#butten {
  color: #fff;
  background-color: black;
  box-shadow: unset;
}
/* .card {
  float: inline-start;
} */
/* #dark {
  background-color: #202020;
} */
/* #next {
  float: inline-start;
} */
#or {
  color: orange;
}
